.app-container {
  /* display: flex; */
  background-color: whitesmoke;
  height: 100vh;
}

.header {
  background-color: lightseagreen;
  padding: 20px;
  text-align: left;
  color: white;
  /* padding: 6px 0; */
}
.title{
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}
.text-content{
  font-size: 13px;
  width: 80%;
}

.flex-container {
  display: flex;
  width: 80%;
  margin: 30px auto;
  gap: 20px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.content{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;

}
.sidebar{
  letter-spacing: 0.5px;

}

.sidebar h3{
/* font-weight: bold; */
color: lightseagreen;
font-size: 2rem;
margin-bottom: 10px;
font-weight: 500;

}

.sidebar p{
  /* background-color: lightseagreen; */
  color: black;
  font-size: 1.5rem;
  margin-bottom: 50px;
  color: rgb(110, 96, 96);
  border-bottom: 2px solid darkgreen;
  cursor: pointer;


}

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightseagreen;
  color: white;
  padding: 20px;
}
footer span{
  font-size: 16px;
  padding: 10px;
}

@media only screen and (max-width:600px) {
  
.flex-container {
  display: flex;
  width: 99%;
  margin: 10px auto;
  gap: 20px;
}
.sidebar{
  width: 20%;
}
.blog{
  width: 80%;
  padding: 5gipx;
}
.text-content{
  width: 90%;
}


}
  
